:root {
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);
    --neutral-dark-blue: hsl(234, 12%, 34%);
    --neutral-grayish-blue: hsl(229, 6%, 66%);
    --neutral-light-gray: hsl(0, 0%, 98%);
    --font-family: "Poppins", sans-serif;
    --fw-regular: 200;
    --fw-bold: 600;
    --fw-black: 800;
    --fs-200: 0.9375rem;
    --fs-400: 1.5rem;
    --fs-600: 3rem;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    font-family: var(--font-family);
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(234, 99, 21);
  }
  
  body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: var(--font-family);
    zoom:80%;
  }
  
  main {
    padding: 1rem;
    margin:2rem auto;
  }
  
  .grid {
    margin: 2rem auto;
    display: grid;
    gap: 2rem;
    justify-self: center;
    align-self: center;
  }
  
  .top {
    text-align: center;
  }
  
  .karma,
  .supervisor,
  .team-builder,
  .calculator {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.25rem;
    padding: 2rem;
    box-shadow: 1rem 1rem 1rem var(--neutral-grayish-blue);
    width: 100%;
    height: 100%;
    gap: 1rem;
    
  }
  
  .karma {
    border-top: 0.25rem solid var(--primary-orange);
  }
  
  .supervisor {
    border-top: 0.25rem solid var(--primary-cyan);
  }
  
  .team-builder {
    border-top: 0.25rem solid var(--primary-red);
  }
  
  .calculator {
    border-top: 0.25rem solid var(--primary-blue);
  }
  
  .name {
    color: var(--neutral-dark-blue);
  }
  
  .intro {
    color: var(--neutral-grayish-blue);
    font-size: var(--fs-200);
  }
  
  .heading {
    font-weight: var(--fw-regular);
    color: var(--neutral-dark-blue);
  }
  
  .icon {
    align-self: end;
    justify-self: ;
    margin-top: auto;
  }
  
  .intro {
    max-width: 48ch;
    margin: 1em auto;
    font-size: 1.2rem;
  }
  
  .explanation {
    font-size: 1.2rem;
    color: var(--neutral-grayish-blue);
  }
  
  @media only screen and (min-width: 52rem) {
    main {
      padding: 1rem;
    }
  
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
    }
  
    .karma {
      grid-row: 2;
      grid-column: 2;
    }
  
    .karma,
    .supervisor,
    .team-builder,
    .calculator {
      width: 100%;
      height: 100%;
      gap: 1rem;
      
    }
  
    .calculator {
      margin-bottom:0;
      grid-column: 3;
      grid-row: 1;
      transform: translateY(50%);
  
    }
  
    .supervisor {
      grid-column: 1;
      grid-row: 1;
      transform: translateY(50%);
    }
  
    .team-builder {
      grid-row: 1;
      grid-column: 2;
    }
  
    .icon {
      align-self: end;
      justify-self: ;
      margin-top: auto;
    }
  
    .intro {
      max-width: 48ch;
      margin: 1em auto;
      font-size: 1.2rem;
    }
  
    .explanation {
      font-size: 1.2rem;
      color: var(--neutral-grayish-blue);
    }
  }